<?xml version='1.0' encoding='utf-8'?>
<widget id="knot" version="0.1.0">
  <name>Knot</name>
  <description>
    Calendar/Reminder App
  </description>
  <author email="calr1001@gmail.com">
    Caleb Rinderer
  </author>
  <plugin name="de.appplant.cordova.plugin.local-notification" version="0.8.1" />
</widget>
